.idk {
    display: flex;
    flex-direction: column;
    gap: 10rem;


    &__top {

        margin: auto;
        margin-top: 10rem;

        @include mobile {

            display: flex;

            & svg {
                width: 30rem;
                height: 12rem;
            }
        }
    }

    &__grid {
        margin-bottom: 10rem;
        display: flex;
        flex-wrap: wrap;
        gap: 7.4rem;
        justify-content: center;

        &-e {
            width: 57rem;
            overflow: hidden;
            border-radius: 3rem;

            @include mobile {
                width: 32rem;
            }
        }
    }
}