<div class="modal modal-buy ">
    <div class="modal-main  modal-closer">
        <div class="modal-c-wrp">
            <div class="modal__c _buy">
                <button class="modal__c-close modal-closer">
                </button>
                <p class="tl2 txt-center">Купить на:</p>
                <div class="modal__c-shops">
                    <a class="tl3 modal__c-shops-el _ozon" href="#">ozon</a>
                    <a class="tl3 modal__c-shops-el _yandex" href="#">Яндекс.маркет</a>
                    <a class="tl3 modal__c-shops-el _wild" href="#">wildberries</a>
                </div>

            </div>
        </div>
    </div>
</div>


<footer class="footer">
    <div class="container">
        <h2 class="tl1">footer</h2>
    </div>
</footer>