<section class="our-categories">
    <div class="container">
        <div class="our-categories__top">
            <p class="tl1 _arsen">
                Категории продукции
            </p>

            <div class="swiper-nav">
                <button class="swiper-btn swiper-btn-prev"></button>
                <button class="swiper-btn swiper-btn-next"></button>
            </div>
        </div>
        <div class="swiper">
            <div class="swiper-wrapper">
                <a href="to item" class="swiper-slide our-categories__slide">
                    <div class="our-categories__slide-img">
                        <picture>
                            <source media="(max-width:768px )" srcset="./assets/images/category1-mob.png">
                            <img src="./assets/images/category1.png" alt="">
                        </picture>
                    </div>
                    <button class="btn-primary">
                        пойти нахуй
                    </button>
                    <p class="tl3 our-categories__slide-ttl">
                        item <br />
                        name
                    </p>
                    <p class="txt20 our-categories__slide-count">
                        цифра добавится сама
                    </p>
                </a>
                <a href="to item" class="swiper-slide our-categories__slide">
                    <div class="our-categories__slide-img">
                        <picture>
                            <source media="(max-width:768px )" srcset="./assets/images/category1-mob.png">
                            <img src="./assets/images/category1.png" alt="">
                        </picture>
                    </div>
                    <button class="btn-primary">
                        пойти нахуй
                    </button>
                    <p class="tl3 our-categories__slide-ttl">
                        item <br />
                        name
                    </p>
                    <p class="txt20 our-categories__slide-count">
                        цифра добавится сама
                    </p>
                </a>
            </div>
        </div>

    </div>
</section>